/fe/package-lock.json
/training/logs/
/fe/node_modules/
/app/logs/app.log
/app/resource/apple.pth
/app/resource/banana.pth
/app/resource/kiwi.pth
/app/resource/pear.pth
/app/resource/starfruit.pth
/app/resource/fruit.pth
/app/.idea/
